*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 80%;
    max-width: 90%;
    height: 100vh;
    background-color: #eaebef;
}

.box{
    display: flex;
    justify-content: center;
}

.book{
    width: 40px;
}

.date{
    background-color: rgba(0, 0, 0, 0.138);
    margin: 0 auto;
    /* width: 105px; */
    font-size: 22px;
    width: 245px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    float: right;
    padding-left: 20px;
    height: 30px;
    display: flex;
    align-items: center;
}

.subject{
    font-size: 20px;
    text-transform: capitalize;
}

.desc{
    background-color: cornsilk;
    width: 90%;
    margin: 0 auto;
}

article{
    margin-left: 40px;
}

.for_img{
    width: 70%;
}

caption{
    margin: 0 auto;
}

table{
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;
}

.subject-logo img{
    width: 30px;
    float: right;
    margin-top: 20px;
}

.like-logo img{
    width: 30px;
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}

.Img-suitable{
    width: 90%;
}

.readable-margin{
    font-size: 20px;
    margin: 10px 20px;
}

article{
    font-size: 20px;
    margin-left: 50px;
}

table{
 
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
}
