*{
    margin: 0;
    padding: 0;
}

/* Header */
header{
    margin: 0 auto;
    width: 90%;
    max-width: 90%;
    background-color: #333;
    display: flex;
    justify-content: row;
    align-items: center;
}

header h1{
    color: white;
}

header nav{
    margin-left: 50px;
    display: flex;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li{
    margin: 0 10px;
    list-style: none;
}

header nav ul li a{
    cursor: pointer;
    text-decoration: none;
    padding: 11px;
    color: aliceblue;
    font-size: 20px;
}

.active{    
    border-bottom: 2px solid blue;
}

header nav ul li a:hover{
    border-bottom: 2px solid blue;
}

/* Main */
main{
    margin: 0 auto;
    width: 100%;
    /* max-width: 90%; */
}

.main{
    box-shadow: 4px 1px 15px -2px black;
}

main .container{
    
    background-color: white;
    width: 100%;
}

.template_container{
    /* min-height: 100vh; */
    height: 100vh;
    /* background-color: red; */
    overflow-y: scroll;
}

.border-here{
    /* border: 10px solid purple; */
    border: 10px solid blue;
    border-style: dashed;
}

/* .date{
    width: 245px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    float: right;
} */

.class-incharge{
    display: flex;
    float: right;
}

svg{
    width: 32px;
    height: 32px;
}

.name h2{
    margin: 2px 10px;
}