*{
    margin: 0;
    padding: 0;
}

/* Header */
header{
    margin: 0 auto;
    width: 90%;
    max-width: 90%;
    background-color: #333;
    display: flex;
    justify-content: row;
    align-items: center;
}

header h1{
    color: blue;
}

header nav{
    margin-left: 50px;
    display: flex;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li{
    margin: 0 10px;
    list-style: none;
}

header nav ul li a{
    cursor: pointer;
    text-decoration: none;
    padding: 16px;
    color: aliceblue;
    font-size: 20px;
}

.active{    
    border-bottom: 2px solid blue;
}

header nav ul li a:hover{
    border-bottom: 2px solid blue;
}

/* Main */
main{
    margin: 0 auto;
    width: 90%;
    max-width: 90%;
}

